



body {
  margin: 0;
  padding: 0;
  background-color: #010101;
  font-family: "Ubuntu", sans-serif;
}

a,
button {
  all: unset;
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 90px; */
  background-color: #FF7C00;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.navbar .logo i {
  color: #0aa5ff;
  font-size: 22px;
}

.navbar .logo a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-links {
  display: flex;
  gap: 24px;
  padding-inline: 24px;
}

.menu-links a {
  font-weight: 500;
  color: white;
  padding: 4px 8px;
}
.menu-links a:hover {
  color: white;
}
.log-in {
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid #0aa5ff;
  transition: 0.2s;
}
.log-in:hover {
  background-color: #0aa5ff;
  color: white;
}

.menu-btn {
  font-size: 32px;
  color: white;
  display: none;
  cursor: pointer;
}

section {
  /* height: 100vh; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: rgb(169, 169, 169);
}
.hero{
    height: 500px;
    background: url('../../public/storage/Smashery-V2-copia.png');
    background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
    /* margin-top: 5rem; */
  background-position: center center; /* Centra l'immagine sia orizzontalmente che verticalmente */
  background-size:contain; /* Copre l'intero contenitore, mantenendo le proporzioni dell'immagine */
}
section > h1 {
  /* font-size: 4rem; */
  font-weight: 500;
  text-align: center;
  text-wrap: balance;
}

@media (max-width: 53rem) {
  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}


.hamburger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 8px;
  transition: 0.4s; /* Aggiungi una transizione per l'animazione (opzionale) */
}

/* Stile della "K" (opzionale) */
.hamburger.active .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.hamburger.active .bar2 {
  opacity: 0;
}

.hamburger.active .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}