body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FF6B00;
}
header {
    background-color: #FF6B00;
    padding: 10px 0;
    text-align: right;
}
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.logo {
    float: left;
    width: 50px;
    height: 50px;
    background-color: transparent!important;
    border-radius: 50%;
    margin-left: 20px;
}
.hero {
    background-color: transparent!important;
    color: white;
    padding: 20px 20px;
    text-align: center;
}
.hero h1 {
    font-size: 4em;
    margin-bottom: 20px;
}
.hero-image {
    position: relative;
    height: 100%;
    width: 100%;
}
.cta-button {
    display: inline-block;
    background-color: white;
    color: #E5007D;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    margin: 10px;
}
.section {
    display: flex;
    justify-content: left;
    padding: 50px 20px;
    padding-top: 3rem;
    text-align: center;
}

.section h2 {
    font-size: 3em;
    color: white!important;
}
.section p {
    color: white!important;
    max-width: 800px;
    margin: 0 auto;
}
.product-image {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #E5007D;
    color: white;
    padding: 20px;
    text-align: center;
}
.smashit{
    color: #FF6400;
    font-family: 'BERNIER Distressed', sans-serif;
    font-size: 200px!important;
    font-weight: 600!important;
    text-shadow: -21px 34px 0px rgba(255, 99.99999999999999, 0, 0.16)!important;
}
/* .neontext-smash{
    margin-left: 18rem;
}
.neontext-it{
    margin-right: 30rem;
} */