@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
.smashery-text span {
  margin-top: 16rem;
    color: goldenrod;
    text-shadow: 0 0 8px rgb(255, 72, 0);
    animation: neonLetterGlow 8s ease-in-out; /* Raddoppia la durata per l'inversione */
    font-family: "Neonderthaw", cursive;
    font-size: 10vw!important;
  }
  
  @keyframes neonLetterGlow {
    0% {
      color: goldenrod;
      text-shadow: 0 0 5px goldenrod;
    }
    20%, 40%, 60%, 80% { /* Momenti di "spegnimento" */
      color: rgba(255, 255, 255, 0.2); /* Bianco semi-trasparente */
      text-shadow: none;
    }
    25%, 45%, 65%, 85% { /* Momenti di "accensione" */
      color: var(--random-color); /* Colore casuale */
      text-shadow: 0 0 20px var(--random-color), 0 0 40px var(--random-color), 0 0 60px var(--random-color);
    }
    /* 100% { 
      color: goldenrod;
      text-shadow: 0 0 5px goldenrod;
    } */
  }
  
  /* Ritardo corretto per ogni lettera */
  .smashery-text span:nth-child(1) { animation-delay: 1.1s; }
  .smashery-text span:nth-child(2) { animation-delay: 1.2s; }
  .smashery-text span:nth-child(3) { animation-delay: 1.3s; }
  .smashery-text span:nth-child(4) { animation-delay: 1.4s; }
  .smashery-text span:nth-child(5) { animation-delay: 1.5s; }
  .smashery-text span:nth-child(6) { animation-delay: 1.6s; }
  .smashery-text span:nth-child(7) { animation-delay: 1.7s; }
  .smashery-text span:nth-child(8) { animation-delay: 1.8s; }


  .test-text{
    font-family: 'BERNIER Distressed', sans-serif;
    font-size: 8vw;
    color: white;
    text-decoration: underline;
  }

  .font-bernier{
    font-family: 'BERNIER Distressed', sans-serif!important;
    color: white;
    font-size: 2rem;
  }

  .lista {
    background-color: ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  .lista li::before {
    content: "";
    display: inline-block;
    width: 3px; 
    height: 1.2em; 
    background-color: white; 
    position: absolute;
    left: -10px; 
    top: 0; /* Modifica: allinea la barra in alto */
    margin-right: 1rem;
  }